* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 1400px;
  max-width: 100%;
  margin: 3em auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.todo-container {
  max-width: 100%;
}

.new-task-txt {
  width: 700px;
  max-width: 100%;
  font-size: 2.3rem;
  color: rgb(73, 70, 70);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #5cb48b94;
}

.new-task-txt::placeholder {
  color: rgba(68, 68, 68, 0.514);
}

.new-task-txt:focus {
  border-color: #5cb48b94;
  box-shadow: none;
  outline: 0 none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:nth-of-type(1) {
  margin-top: 2em;
}

.task {
  font-size: 1.3rem;
  color: rgba(59, 59, 59, 0.733);
  margin-left: 0.5em;
}

.task-completed {
  font-size: 1.3rem;
  color: rgba(59, 59, 59, 0.733);
  margin-left: 0.5em;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
